INSTALL
Makefile
Makefile.in
aclocal.m4
*.stamp
*.o
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*.la
*.lo
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.in.in
po/POTFILES
po/stamp-it
art/cursor/cursorthemegen/cursorthemegen
art/cursor/olpc/theme
art/icon-theme/index.theme
.deps
.libs
po/.intltool-merge-cache
stamp-h1
*~
