INSTALL
Makefile
Makefile.in
aclocal.m4
*.stamp
*.o
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*.la
*.lo
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.in.in
.deps
.libs
stamp-h1
*~
gtk/theme/sugar.gtkrc
gtk/theme/sugar-xo.gtkrc
compile
test/engines
test/symbols
test/valgrind-logs
test/torturetest
test/torture_*
test/exported_*
.DS_Store
gtk/theme/sugar-100.gtkrc
gtk/theme/sugar-72.gtkrc

gtk3/theme/gtk-widgets-100.css
gtk3/theme/gtk-widgets-72.css
gtk3/theme/settings-100.ini
gtk3/theme/settings-72.ini
gtk3/theme/3.20/gtk-widgets-100.css
gtk3/theme/3.20/gtk-widgets-72.css
